@import "tailwindcss";

@theme {
  --font-family-display: Inter, Avenir, Helvetica, Arial, sans-serif --breakpoint-2xs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-neon-pink: oklch(71.7% 0.25 360);
  --color-neon-lime: oklch(91.5% 0.258 129);
  --color-neon-cyan: oklch(91.3% 0.139 195.8);
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  body {
    @apply h-screen bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-200;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    @apply rounded-md border-0 bg-gray-100 py-1.5 text-gray-900 ring-1 shadow-sm ring-gray-300 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-cyan-600 focus:outline-none focus:ring-inset sm:text-sm sm:leading-6 dark:bg-gray-700;
  }

  .btn-cyan {
    @apply rounded-md bg-cyan-700 text-gray-200 dark:bg-cyan-300 dark:text-gray-900;
  }
}
